%div
  %h1.goodnews Sorry, dude.
  %h2 You got hit by the hack.
  %p I suggest you go change your password, like, now.  For everything.
  %p Also install <a href="http://lastpass.com/">LastPass</a> or <a href="http://1password.com/">1Password</a> if you don't have a password manager.  Shit's great.
  %a{:href => "/"} Try another email
