%div
  %h1.goodnews Sorry, dude.
  %h2 Your password is already released.
  %p He already decrypted and published yours.  You're boned.
  %p I suggest you go change your password, like, now.  For everything.
  %p Also install <a href="http://lastpass.com/">LastPass</a> or <a href="http://1password.com/">1Password</a> or something if you don't have a password manager.
  %a{:href => "/"} Try another email
