%div
  %h1.goodnews Got away safely!
  %h2 You escaped unharmed this time...
  %p But really, if you don't have one, go get a password manager and stop reusing passwords.
  %a{:href => "/"} Try another email
