%div
  %h1.goodnews Got away safely!
  %h2 You're safe, for a few more hours maybe.
  %p This just means he hasn't gotten around to decrypting your password yet.  It <b>will</b> happen.
  %p You're lucky, you have more time to change your passwords.
  %p Also install <a href="http://lastpass.com/">LastPass</a> or <a href="http://1password.com/">1Password</a> or something if you don't have a password manager.
  %a{:href => "/"} Try another email
