body {
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'M+ 1p', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1, h2 {
	font-family: inherit;
}
