html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'M+ 1p', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1, h2 {
	font-family: inherit;
}
input {
	font-size: 2em;
}
